html {
  margin: 0;
  font-family: Arial, sans-serif;
  width: auto;
  
  background-image: url("../src/assets/img/background-img-night.png");
}
button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
#root{
  display: flex;
  flex-direction: row;
  justify-content:row;
}
button:hover {
  background-color: #777;
  color: white;
}

.search-container{
  display: flex;
  flex-direction: row;

}

.searchButton{

}